@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Questrial;
  font-display: swap;
  src: url("../fonts/Questrial-Regular.woff2") format("woff2"), url("../fonts/Questrial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-down-arrow:before {
  content: "\e905";
}

._icon-box:before {
  content: "\e902";
}

._icon-compas:before {
  content: "\e903";
}

._icon-cut:before {
  content: "\e904";
}

._icon-dollar:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e900";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav.footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-weight: 500;
  font-size: 18px;
}

body.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: rem(1440);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.header__bottom {
  padding: 0 5px;
  background-color: #ffffff;
}

.top-header {
  min-height: 20px;
}

.top-header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.auth {
  text-transform: uppercase;
  font-family: "Questrial", sans-serif;
  padding: 5px 40px 5px 40px;
  padding-right: 40px;
}

.auth__login {
  padding: 0 10px;
  border-right: 1px solid #ffffff;
}

.auth__register {
  padding: 0 10px;
}

.auth.auth a {
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 2px;
}

.bottom-header {
  min-height: 60px;
  border-bottom: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.bottom-header__logo {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-header__logo h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Questrial", sans-serif;
  font-size: 43px;
  font-weight: 900;
  color: #fca601;
}

.bottom-header__logo h1 span {
  color: #fe8502;
}

.bottom-header__menu {
  z-index: 1;
}

.bottom-header__cart {
  padding: 0 60px;
  font-size: 24px;
}

.menu {
  overflow: auto;
  color: #776c66;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.menu__item {
  font-size: 16px;
  line-height: 1.25;
}

.menu__item a {
  color: #000000;
}

.menu__item a:hover {
  color: #f3a716;
}

.icon-menu {
  display: none;
}

.card {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__image img {
  width: 600px;
  height: 730px;
}

.card__info {
  margin: 0 20px;
}

.container-info-card__container {
  padding-bottom: 40px;
}

.container-info-card__body {
  padding-bottom: 40px;
  width: 360px;
}

.container-info-card__title {
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  line-height: 38px;
}

.container-info-card__price {
  padding: 10px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.container-info-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.container-info-card__text::before {
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 40px;
}

.container-info-card__text span {
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.container-info-card__text span .date {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.container-info-card__button {
  padding-top: 40px;
}

.container-info-card__button button {
  height: 50px;
  background-color: #11304f;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 600px;
}

.spoller-wrapper {
  min-height: 100%;
}

.block .block__item {
  padding-bottom: 20px;
}

.block .block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  width: 500px;
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 3px solid #dcdcdc;
  padding-bottom: 15px;
}

.block .block__title span._icon-down-arrow:before {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.block .block__title._active {
  border-bottom: 3px solid #f3a716;
}

.block .block__title._active span._icon-down-arrow:before {
  content: "\e905";
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block .block__text {
  width: 500px;
  padding: 20px 0 30px 0;
}

@media (max-width: 1470px) {
  [class*=__container] {
    max-width: rem(970);
  }
}

@media (max-width: 1440px) {
  .menu__list {
    -webkit-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
       -moz-column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
            column-gap: calc(5px + 25 * ((100vw - 320px) / 1120));
  }

  .card__container {
    gap: calc(10px + 90 * ((100vw - 320px) / 1120));
  }

  .card__image img {
    width: calc(200px + 400 * ((100vw - 320px) / 1120));
  }

  .card__image img {
    height: calc(240px + 490 * ((100vw - 320px) / 1120));
  }

  .container-info-card__button button {
    width: calc(100px + 500 * ((100vw - 320px) / 1120));
  }

  .block .block__title {
    width: calc(100px + 400 * ((100vw - 320px) / 1120));
  }

  .block .block__text {
    width: calc(100px + 400 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 1028px) {
  .card__container {
    display: block;
  }

  .card__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-card__description {
    display: none;
  }

  .container-info-card__button button {
    width: 100%;
  }

  .container-info-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: rem(750);
  }
}

@media (max-width: 767.98px) {
  .bottom-header__menu {
    display: none;
  }

  .bottom-header__menu._active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11304f;
    z-index: 3;
  }

  .bottom-header__cart {
    padding: 0 10px;
  }

  .menu__list {
    display: block;
    padding: 100px;
  }

  .menu__item {
    font-size: 26px;
    line-height: 1.5384615385;
  }

  .menu__item a {
    color: #fe8502;
  }

  .icon-menu {
    margin-left: 15px;
    background-color: #ffffff;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .icon-menu._active {
    background-color: #11304f;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
    background-color: #fe8502;
  }

  .icon-menu._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 1px);
    background-color: #fe8502;
  }
}

@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0 rem(15);
  }
}

@media (any-hover: hover) {
  .container-info-card__button button:hover {
    color: #f3a716;
  }
}